.sidebar-dark-mode {
  background-color: #111;
  transition: 0s;
}

.sidebar-dark-mode a {
  color: #e1e1e1;
}

.primary-dark-mode {
    background-color: #111;
    color: #f1f1f1;
}

.primary-dark-mode-with-border {
  background-color: #111;
  color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 3px;
}

.secondary-dark-mode {
    background-color: #171717;
}

.secondary-dark-mode-with-border {
    background-color: #171717;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
}

.checkboxContainer-dark-mode{
    background-color: black;
}

.sliderContainer-dark-mode{
    background-color: black;
}

.editConstraints-dark-mode{
    border: 1px solid #444;
    border-radius: 3px;
    background-color: #131313;
}

.editConstraintsHeader-dark-mode{
    color: #f1f1f1;
}

.editConstraintArea-dark-mode {
    border: 1px solid #444;
    border-radius: 3px;
    background-color: #111;
}

 .bs-tooltip-auto-dark-mode[x-placement^=top],.bs-tooltip-top-dark-mode{padding:.4rem 0}
 .bs-tooltip-auto-dark-mode[x-placement^=top] .arrow,.bs-tooltip-top-dark-mode .arrow{bottom:0}
 .bs-tooltip-auto-dark-mode[x-placement^=top] .arrow::before,.bs-tooltip-top-dark-mode .arrow::before{top:0;border-width:.4rem .4rem 0;border-top-color:#f1f1f1}

 .bs-tooltip-auto-dark-mode[x-placement^=right],.bs-tooltip-right-dark-mode{padding:0 .4rem}
 .bs-tooltip-auto-dark-mode[x-placement^=right] .arrow,.bs-tooltip-right-dark-mode .arrow{left:0;width:.4rem;height:.8rem}
 .bs-tooltip-auto-dark-mode[x-placement^=right] .arrow::before,.bs-tooltip-right-dark-mode .arrow::before{right:0;border-width:.4rem .4rem .4rem 0;border-right-color:#f1f1f1}

 .bs-tooltip-auto-dark-mode[x-placement^=bottom],.bs-tooltip-bottom-dark-mode{padding:.4rem 0}
 .bs-tooltip-auto-dark-mode[x-placement^=bottom] .arrow,.bs-tooltip-bottom-dark-mode .arrow{top:0}
 .bs-tooltip-auto-dark-mode[x-placement^=bottom] .arrow::before,.bs-tooltip-bottom-dark-mode .arrow::before{bottom:0;border-width:0 .4rem .4rem;border-bottom-color:#f1f1f1}

 .bs-tooltip-auto-dark-mode[x-placement^=left],.bs-tooltip-left-dark-mode{padding:0 .4rem}
 .bs-tooltip-auto-dark-mode[x-placement^=left] .arrow,.bs-tooltip-left-dark-mode .arrow{right:0;width:.4rem;height:.8rem}
 .bs-tooltip-auto-dark-mode[x-placement^=left] .arrow::before,.bs-tooltip-left-dark-mode .arrow::before{left:0;border-width:.4rem 0 .4rem .4rem;border-left-color:#f1f1f1}

.tooltip-inner-dark-mode{max-width:400px;padding:.25rem .5rem;color:#d1d1d1;text-align:center;background-color:#141414;border-radius:.2px;border:1px solid #444;border-radius:3px;}

.btn-outline-dark-dark-mode {
  color:#f8f9fa;background-color:transparent;background-image:none;border-color:#f8f9fa;
}

.btn-outline-dark-dark-mode{color:#f8f9fa;background-color:transparent;background-image:none;border-color:#f8f9fa}
.btn-outline-dark-dark-mode:hover{color:#212529;background-color:#f8f9fa;border-color:#f8f9fa}
.btn-outline-dark-dark-mode.focus,.btn-outline-dark-dark-mode:focus{box-shadow:0 0 0 .2rem rgba(248,249,250,.5)}
.btn-outline-dark-dark-mode.disabled,.btn-outline-dark-dark-mode:disabled{color:#f8f9fa;background-color:transparent}
.btn-outline-dark-dark-mode:not(:disabled):not(.disabled).active,.btn-outline-dark-dark-mode:not(:disabled):not(.disabled):active,.show>.btn-outline-dark-dark-mode.dropdown-toggle{color:#212529;background-color:#f8f9fa;border-color:#f8f9fa}
.btn-outline-dark-dark-mode:not(:disabled):not(.disabled).active:focus,.btn-outline-dark-dark-mode:not(:disabled):not(.disabled):active:focus,.show>.btn-outline-dark-dark-mode.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(248,249,250,.5)}
