.colorMode1 {
  background-color: var(--backgroundColor-colorMode-1);
  color: var(--color-colorMode-1);
  transition: 0.3s;
}

.colorMode2 {
  background-color: var(--backgroundColor-colorMode-2);
  color: var(--color-colorMode-2);
  transition: 0.3s;
}

.noTransitions {
    transition: 0.0s;
}

.customBorder {
  border: var(--border-customBorder);
  border-radius: 3px;
}

.btn-outline-dark {
  color: var(--bootstrapButtonsColor) !important;
  border-color: var(--bootstrapButtonsColor) !important;
}

.btn-outline-dark:hover {
  color: var(--bootstrapButtonsHover) !important;
  background-color: var(--bootstrapButtonsColor) !important;
  border-color: var(--bootstrapButtonsColor) !important;
}

.btn-outline-light.focus,.btn-outline-light:focus {
  box-shadow: var(--bootstrapButtonsFocus) !important;
}

.bs-tooltip-auto[x-placement^=top] .arrow::before,.bs-tooltip-top .arrow::before {
  border-top-color: var(--tooltip-arrow-color) !important;
}

.tooltip-inner {
  background-color: var(--backgroundColor-colorMode-2) !important;
  color: var(--color-colorMode-2) !important;
  border: var(--border-customBorder) !important;
}

#main {
  position: absolute;
  z-index: 2000;
  padding: 16px;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.map {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.ui-control {
    padding: 15px;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

.nav-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.leaflet-fade-anim .leaflet-tile, .leaflet-zoom-anim .leaflet-zoom-animated {
    will-change: auto !important;
}

#preloadBlocker{
  width:100%;
  height:100%;
  background-color:rgba(0, 0, 0, 0.877);
  z-index:1000000;
  position: absolute;
  left: 0;
  bottom: 0;
}

#preloadStatus{
    text-align: center;
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 60vh;
}

#preloadText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 40vh;
}

#preloadBar{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60vh;
    height: 60vh;
}

.graph-pic {
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin: 15px;
  margin-left: 30px;
}

.graph-button-pic {
  height: 25px;
  width: 25px;
}

.close-button-pic {
  height: 25px;
  width: 25px;
}

.histogram-chart-area {
    width: 80%;
    margin: auto;
}

.single-chart-area {
  display: flex;
  flex-direction: column;
}

.chart-container {
  display: flex;
}
