.charting-resizable-window {
    height: 100%;
    width: 100%;
}

.add-graph-box {
    padding: 20px;
    border-bottom-style: double;
    border-bottom-width: thin;
}

.add-graph-message {
    font-size: 22px;
}

.graph-button-area {
}

.graph-button {
    margin: 10px;
}

.single-chart-box {
    padding: 0px 30px;
    margin: 10px;
}

.close-graph-area-button {
    float: right;
}

.chart-control {
    margin: 10px;
    border-bottom-style: double;
    border-bottom-width: thin;
    padding-bottom: 10px;
}

.chart-control-button {
    margin: 0px 3px;
}

.chart-control-button-close {
    float: right;
}

.dropdown-menu-item-custom{
    cursor: pointer;
}

.left-toggle {
    height: 15px;
    width: 15px;
}

.temp-chart-box {
    padding: 10px;
    margin: 10px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.overlay {
    position: absolute;
    bottom: 0px;
    left: 0px;
    border: 1px solid #777;
    border-radius: 3px;
    box-sizing: border-box;
}

.overlay .box{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.overlay .option{
    width: 15px;
    height: 15px;
    border-radius: 3px;
    position: absolute;
}

.overlay .option.top-right {
    right: -5px;
    top: -5px;
    cursor: nesw-resize;
    border-right: 1px solid #777;
    border-top: 1px solid #777;
}

.overlay .option.top-left {
    left: -5px;
    top: -5px;
    cursor: nwse-resize;
    border-left: 1px solid #777;
    border-top: 1px solid #777;
}

.overlay .option.bot-right {
    right: -5px;
    bottom: -5px;
    cursor: nwse-resize;
    border-right: 1px solid #777;
    border-bottom: 1px solid #777;
}

.overlay .option.bot-left {
    left: -5px;
    bottom: -5px;
    cursor: nesw-resize;
    border-left: 1px solid #777;
    border-bottom: 1px solid #777;
}

.overlay .option.t

.histogram-chart-area {
    width: 80%;
    margin: auto;
}

.chart-container {
    display: flex;
}

.chart-tooltip {
    z-index: 10000;
    border-radius: 5px;
    padding: 10px;
}
