.dark-mode-control{
  margin-top: 6px;
}

.theme-switch-wrapper {
  padding: 5px;
  float: right;
}

.theme-switch {
  position: relative;
  margin: auto;
  height: 17px;
  width: 30px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: var(--bootstrapDark); /*the slider groove*/
  cursor: pointer;
  position: absolute;
  transition: .4s;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.slider:before {
  position: absolute;
  transition: .4s;
  content: "";
  background-color: var(--bootstrapLight);  /*the slider button*/
  bottom: 2px;
  left: 2px;
  height: 13px;
  width: 13px;
}

input:checked + .slider {
  background-color: var(--bootstrapPrimary); /*the slider groove AFTER*/
}

input:checked + .slider:before {
  transform: translateX(13px);
}

.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}