.colorMode1 {
  background-color: var(--backgroundColor-colorMode-1);
  color: var(--color-colorMode-1);
  transition: 0.3s;
}

.colorMode2 {
  background-color: var(--backgroundColor-colorMode-2);
  color: var(--color-colorMode-2);
  transition: 0.3s;
}

.oldMenuButton {
    margin-left: 100px;
}

.noTransitions {
    transition: 0.0s;
}

.customBorder {
  border: var(--border-customBorder);
  border-radius: 3px;
}

#main {
  position: absolute;
  z-index: 2000;
  padding: 16px;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.map {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.ui-control {
    padding: 15px;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

.nav-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.leaflet-fade-anim .leaflet-tile, .leaflet-zoom-anim .leaflet-zoom-animated {
    will-change: auto !important;
}

#ui-root{
  width:100vw;
  height:100vh;
  position: absolute;
  left: 0;
  bottom: 0;
}

#preloadBlocker{
  width:100%;
  height:100%;
  background-color:rgba(0, 0, 0, 0.877);
  z-index:1000000;
  position: absolute;
  left: 0;
  bottom: 0;
}

#preloadStatus{
    text-align: center;
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 60vh;
}

#preloadText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 40vh;
}

#preloadBar{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60vh;
    height: 60vh;
}

.warningContainer{
  position: absolute;
  z-index: 1999;
  bottom: 0;
  right: 0;
  width: 0;
  height: 12vh;
  padding-right: 460px;
  margin-bottom: 10px;
}

.current-location{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 800;
}

.currentLocationButton{
  background-color: white;
  margin-top: 7.5px;
  float: right;
  border: 1px solid #ced4da !important;
}

.currentLocationButton .icon{
  width: 25px;
  height: 25px;
}